
.beneficiados {

    h1 {
        color: $color;
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
        text-align: $text-align;
        animation-duration: 3s;
        animation-name: aparecer;
        animation-iteration-count: initial;
    }

    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    p {
        @extend .extensiones;
        font-size: large;
    }
}

@media screen and (min-width: 600px) {

    .beneficiados {
        font-size: 2rem;

        p {
            @extend .extensiones;
            font-size: 1.5rem;
            text-align: left;
        }
    }
}

/* Animaciones */
.beneficiados {
    p {
        height: 100%;
        background: rgb(195, 244, 253);
        background: linear-gradient(90deg, rgba(195, 244, 253, 1) 48%, rgba(0, 212, 255, 1) 69%);
    }
}